// 公共字体颜色
$color-text-3 = #333  // 主体文字主颜色
$color-text-6 = #666  // 提示文字主颜色（例如placeholder）
$color-text-9 = #999  // 提示文字主颜色（例如placeholder）
$color-theme = #4380FF// 主题色

$color-bg-btn-disabled = #A6A6A6

//字体定义规范
$fs-24 = 24px
$fs-26 = 26px
$fs-28 = 28px
$fs-30 = 30px
$fs-32 = 32px
$fs-34 = 34px
$fs-35 = 35px
$fs-36 = 36px
$fs-40 = 40px
$fs-56 = 56px
